@import "../../scss/colors.scss";

.equipment {
  .cart{
    text-align: center;
    .equipment-in-cart{
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.equipment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.equipment-filters {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  gap: 2px;
}

.tbl-row:hover {
  background-color: $secondary;
}

.table-container {
  display: flex;
  .MuiTypography-body2, .MuiTablePagination-root {
    font-size: 12px;
  }
  .MuiTablePagination-selectRoot {
    margin-right: 1em;
  }
}

.specific-equipment {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 100%;

  & > div {
    padding: 1em;
  }
}

