@import '../../scss/colors.scss';

.equipment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipment-filters {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.equipment-filters > button {
    flex: 1;
}

.tbl-row:hover {
    background-color: $secondary;
}

.table-container {
    display: flex;
}

.specific-equipment {
    background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 70%;
}