@import "../../scss/colors.scss";

.equipment {
    .cart {
        text-align: center;
        .equipment-in-cart {
            margin: auto 1em;
            display: flex;
            justify-content: space-between;
            button {
                background: inherit;
                border: none;
                &:hover {
                    color: white;
                    background: $secondary;
                }
            }
        }
    }
}

.equipment-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipment-filters {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    gap: 2px;
}

.tbl-row:hover {
    background-color: $secondary;
}

.table-container {
    display: flex;
    background-color: white;
    .MuiTypography-body2,
    .MuiTablePagination-root {
        font-size: 12px;
    }
    .MuiTablePagination-selectRoot {
        margin-right: 1em;
    }
}

.specific-equipment {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 100%;

    & > div {
        padding: 1em;
    }
}

@media (min-width: 1024px) {
    .character-cart {
        margin: auto 10em;
    }

    .equipment-filters {
        max-width: 670px;
    }
}

@media (min-width: 1440px) {
    .character-cart {
        margin: auto 15em;
    }

  
}

@media (min-width: 2560px) {
    .character-cart {
        margin: auto 40em;
    }

    
}