@import "../../scss/colors.scss";

.spells {
  display: flex;
  align-items: center;
  flex-direction: column;

  .tbl-row:hover {
    background-color: $secondary;
  }

  .character-spellbook {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }

  .specific-spell-container {
    width: 100%;
    section {
      background-color: #fefefe;
      border: 1px solid #888;
      width: 100%;
      padding: 0 1em 1em;
    }
  }
}
