.characters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    a {
        text-decoration: none;
        margin-bottom: 1em;
    }

}
