@import "../../../scss/colors.scss";
@import "../../../scss/mediaQuery.scss";

$border: 1px solid $text;
.new {
    height: 131px;
}
.character-card {
    width: calc(100% - 2em);
    background-color: $main-background;
    border: $border;
    line-height: 1;
    padding: 10px;
    color: black;
    box-shadow: 0 0 3px;
    .race {
        color: $accent;
        font-weight: 600;
    }
    .class {
        font-weight: 600;
    }
}

@media (min-width: 768px) {
	.character-card{
        width: calc(50% - 2em);
		box-shadow: 1px 2px 3px;
	}
}

@media (min-width: 1024px) {
	.character-card{
        width: calc(33% - 2em);
		box-shadow: 1px 2px 3px;
	}
}
