@import "../../../scss/colors.scss";

$border: 1px solid $text;

.character-card {
  border: $border;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  line-height: 1;
  margin-bottom: 1em;
  padding: 10px;
  color: black;
  box-shadow: 0 0 3px;
  .race {
    color: $accent;
    font-weight: 600;
  }
  .class {
    font-weight: 600;
  }
}
