@import "./scss/colors.scss";
@import "./scss/fonts.scss";
@import "./scss/elements.scss";
@import "./scss/navbar.scss";
@import "./scss/Modal.scss";
@import "./scss/sprites.scss";

// components
@import "./scss/class-icons.scss";
@import "./scss/Auth.scss";
@import "./scss/characterSheet.scss";
@import "./scss/cart.scss";
@import "./scss//createCharacter.scss";

.App {
  h1 {
    color: $text;
  }
  h3 {
    color: $text;
    span {
      color: $secondary;
    }
  }
}
