.auth-form-container {
  margin-top: 1em;
  display: flex;
  height: 33vh;
  border: 1px solid black;
  width: 70vw;
  box-shadow: 0px 0px 10px gray;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  form {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    input {
      margin-bottom: 1em;
    }
  }
}
