.character-card {
  position: relative;
}

.character-icon {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
}

.barbarian::before {
  @extend .character-icon;
  background: url("/assets/icons/BARBARIAN.png") no-repeat center center;
  background-size: contain;
  background-position: 200px;
}

.bard::before {
  @extend .character-icon;
  background: url("/assets/icons/BARD.png") no-repeat center center;
  background-size: contain;
  background-position: 200px;
}

.cleric::before {
  @extend .character-icon;
  background: url("/assets/icons/CLERIC.png") no-repeat center center;
  background-size: contain;
  background-position: 200px;
}

.druid::before {
  @extend .character-icon;
  background: url("/assets/icons/DRUID.png") no-repeat center center;
  background-size: contain;
  background-position: 200px;
}

.fighter::before {
  @extend .character-icon;
  background: url("/assets/icons/FIGHTER.png") no-repeat center center;
  background-size: contain;
  background-position: 200px;
}

.monk::before {
  @extend .character-icon;
  background: url("/assets/icons/MONK.png") no-repeat center center;
  background-size: contain;
  background-position: 200px;
}

.paladin::before {
  @extend .character-icon;
  background: url("/assets/icons/PALADIN.png") no-repeat center center;
  background-size: contain;
  background-position: 200px;
}

.ranger::before {
  @extend .character-icon;
  background: url("/assets/icons/RANGER.png") no-repeat center center;
  background-size: contain;
  background-position: 200px;
}

.rogue::before {
  @extend .character-icon;
  background: url("/assets/icons/ROGUE.png") no-repeat center center;
  background-size: contain;
  background-position: 200px;
}

.sorcerer::before {
  @extend .character-icon;
  background: url("/assets/icons/SORCERER.png") no-repeat center center;
  background-size: contain;
  background-position: 200px;
}

.warlock::before {
  @extend .character-icon;
  background: url("/assets/icons/WARLOCK.png") no-repeat center center;
  background-size: contain;
  background-position: 200px;
}

.wizard::before {
  @extend .character-icon;
  background: url("/assets/icons/WIZARD.png") no-repeat center center;
  background-size: auto;
  background-position: 180px;
}
