@import "../scss/colors.scss";

.character-create-form {
	background-color: white;
	margin: 0 1rem;
	border: 1px solid black;
	padding-bottom: 2rem;
	margin: 1em auto;
	text-align: center;

	.character-name {
		display: flex;
		flex-direction: column;
		align-items: center;
		label {
			margin: 0.5rem 0;
		}
	}
	.form-page-buttons {
		margin-top: 1rem;
		justify-content: space-evenly;
		display: flex;
		width: 100%;
	}
	.select-race-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		select {
			margin-bottom: 1em;
		}
	}
	.race-info {
		border: 1px solid black;
		background-color: white;
		box-shadow: 0 0 5px;
		padding: 0.7em;
		margin: 1em;
	}

	.select-class-container {
		.class-info-wrapper {
			.class-info-container {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				align-items: center;
				position: relative;

				& > * {
					max-width: fit-content;
				}

				&::before {
					height: 100px;
					bottom: unset;
					top: -87px;
					right: 4%;
				}
			}
		}
	}
	.attribute-entry {
		.attribute {
			label:first-child {
				font-weight: 700;
				padding-right: 1rem;
			}
			input {
				margin: 0 10px;
			}
		}

		table {
			margin: auto;
		}
	}
}

@media (min-width: 900px) {
	.character-create-form {
		.select-class-container {
			.class-info-wrapper {
				.class-info-container {
					&.barbarian,
					&.cleric,
					&.fighter,
					&.paladin,
					&.sorcerer,
					&.warlock,
					&.wizard {
						height: 384px;
					}
					&.bard {
						height: 444px;
					}
					&.druid {
						height: 332px;
					}
					&.monk {
						height: 564px;
					}
					&.ranger {
						height: 386px;
					}
					&.rogue {
						height: 420px;
					}
				}
			}
		}
	}
}

@media (min-width: 1440px) {
	.character-create-form {
		.select-class-container {
			.class-info-wrapper {
				.class-info-container {
					&.barbarian,
					&.cleric,
					&.fighter,
					&.paladin,
					&.sorcerer,
					&.warlock,
					&.wizard {
						height: 222px;
					}
					&.bard, &.monk {
						height: 432px;
					}
					&.druid {
						height: 328px;
					}
					&.ranger {
						height: 230px;
					}
					&.rogue {
						height: 296px;
					}
				}
			}
		}
	}
}
