@import './colors.scss';

body {
    margin: 0;
    padding: 0;
    background: $main-background
}

ul{
    list-style: none;
    text-decoration: none;

    li {
        a {
        text-decoration: none;
        }
    }
}
