@import './colors.scss';


body {
    margin: 0;
    padding: 0;
    background: $main-background;
    color: $text;
    font-family: Roboto;
}

ul{
    list-style: none;
    text-decoration: none;

    li {
        a {
        text-decoration: none;
        }
    }
}

h1, h2, h3{
    font-family: Lato;
}

a{
    color: $accent;
    :active{
        color: $accent;
    }
}

.tabulator {
    text-align: center;
}
